#image-container {
    position: relative;
    width: 500px; /* Замените на нужную ширину контейнера изображения */
    height: 500px; /* Замените на нужную высоту контейнера изображения */
}

#image {
    width: 200px;
    height: 200px;
    object-fit: cover; /* Заполнение контейнера изображением */
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;

}

#canvas-container {
    position: relative;
    width: 100%;
    height: 100%;
}

button {
    margin-top: 10px; /* Отступ от верхней части контейнера */
    padding: 10px 20px; /* Размер кнопки */
    background-color: #000000; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Убираем границу кнопки */
    border-radius: 5px; /* Закругляем углы кнопки */
    cursor: pointer; /* Устанавливаем курсор в виде указателя */
    transition: background-color 0.3s; /* Плавное изменение цвета при наведении */
}

button:hover {
    background-color: #888888; /* Цвет фона кнопки при наведении */
}
