<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block links%}
    {%endblock%}
    <link rel="icon" href="{{ url_for('static', filename='img/camera_v1-RPBGY.png')}}"><!--иконка страницы-->
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <a class="MainLogo" href="/"><img src="{{ url_for('static', filename='img/camera_v1-RPBGY.png')}}"
        width="100"><h2>𝒫𝒽𝑜𝓉𝑜𝒫𝒶𝒾𝓃𝓉𝑒𝓇</h2></a><!-- логотип с ссылко на ГМ(главное меню)-->
    {% block body %}
    {% endblock %}
</body>

</html>