{% extends 'base.html' %}

{%block title %}𝒫𝒽𝑜𝓉𝑜𝒫𝒶𝒾𝓃𝓉𝑒𝓇 | Вход{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css')}}">
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endblock %}
{% block body %}
<div class="background" id="background"></div>
<!--форма входа-->
<section>
    <div class="form-box">
        <div class="form-value">
            <div class="page" id="logining">
                <div class="profile"><img src="{{ url_for('static', filename='img/profIcon.png')}}" width="300"></div>
                <form action="/logining" method="post" id="log">
                {{ form.hidden_tag() }}
                    <h2>Войти</h2>
                    <div class="inputbox">
                        <ion-icon name="mail-outline"></ion-icon>
                        {{ form.login() }}
                        <label for="login">Логин/Почта:</label>
                    </div>
                    <div class="inputbox">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        {{ form.password() }}
                        <label for="password">Пароль:</label>
                    </div>
                    <div class="forget">
                        <label for="">{{ form.remember_me() }} Запомнить меня <a href="#">Забыли пароль?</a></label>
                    </div>
                    <button name="button">Войти</button>
                    <div class="register">
                        <p>Нет аккаунта?<a href="/registering"> Зарегистрироваться</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}