{% extends 'base.html' %}

{%block title %}𝒫𝒽𝑜𝓉𝑜𝒫𝒶𝒾𝓃𝓉𝑒𝓇 | Холст{% endblock %}
{% block links %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/work.css')}}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
<script src="{{ url_for('static', filename='js/canvas.js')}}" type="text/javascript" defer></script>
{% endblock %}

{% block body %}
<form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <h3>𝒫𝒽𝑜𝓉𝑜𝒫𝒶𝒾𝓃𝓉𝑒𝓇</h3>
    <input type="file" id="file-input"  name="image" onchange="loadImage()">

    <label for="contrast-slider">Контрастность:</label>
    <input type="range" min="0" max="2" step="0.1" id="contrast-slider" name="contrast-slider" value="1" oninput="updateImage()">

    <label for="brightness-slider">Яркость:</label>
    <input type="range" min="0" max="2" step="0.1" id="brightness-slider" name="brightness-slider" value="1" oninput="updateImage()">

    <label for="saturation-slider">Насыщенность</label>
    <input type="range" min="0" max="2" step="0.1" id="saturation-slider" name="saturation-slider" value="1" oninput="updateImage()">

    <label for="sharpness-slider">Резкость</label>
    <input type="range" min="0" max="2" step="0.1" id="sharpness-slider" name="sharpness-slider" value="0" oninput="updateImage()">

    

    <button onclick="download()">Download</button>

    <canvas id="canvas" width="500" height="500" style="border:1px solid black;"></canvas>

    <img id="image" >
</form>
<button onclick="erase()">Eraser</button>

<button onclick="fill()">Fill</button>
{% if edited_filename %}
    <a href="{{ url_for('download', filename=edited_filename) }}" download>Download Image</a>
{% endif %}

{% endblock %}
